In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("New_Dataframe.csv")
df.head()

,title,text,label
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,NaN,Did they post their votes for Hillary already?,1
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [3]:
df_minority = df[df['label'] == 0]
df_majority =df[df['label']== 1]

In [4]:
from sklearn.utils import resample

df_up_sampled = resample(df_minority, n_samples=50084, random_state=123456)
df_up_sampled

,title,text,label
12847,Turkish court frees opposition journalist on b...,ISTANBUL (Reuters) - A Turkish court freed on ...,0
44381,Trump builds team of bosses to shake up Washin...,WASHINGTON (Reuters) - With more than 20 nomi...,0
37183,Twitter Shares Crash Following Quarterly Earni...,Twitter shares crashed on Thursday following t...,0
47568,Major U.S. Jewish Groups Applaud Trump’s Holoc...,The Algemeiner reports: Leading American Jewis...,0
50374,GRAPHIC VIDEO Shows White Officer Shooting Una...,North Charleston Police Officer Michael T. Sla...,0
...,...,...,...
38048,Iraqi forces complete Kirkuk province takeover...,"BAGHDAD/ERBIL, Iraq (Reuters) - Iraqi forces o...",0
28287,"Army Triumphs at Last, Ending Navy’s 14-Game S...",BALTIMORE — Tradition at the game calls f...,0
32732,Senate race rankings: Dems attack as GOP lays ...,The move would make it easier for the Trump ad...,0
55399,Jailed Kremlin critic calls on Russians to pro...,MOSCOW (Reuters) - Kremlin critic Alexei Naval...,0
49476,U.S. hopes easing limits on Cuba will boost re...,WASHINGTON (Reuters) - The United States hopes...,0

In [5]:
# contact both the majority class and up sample data frame
final_data= pd.concat([df_majority, df_up_sampled])
final_data

,title,text,label
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,NaN,Did they post their votes for Hillary already?,1
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
5,About Time! Christian Group Sues Amazon and SP...,All we can say on this one is it s about time ...,1
...,...,...,...
38048,Iraqi forces complete Kirkuk province takeover...,"BAGHDAD/ERBIL, Iraq (Reuters) - Iraqi forces o...",0
28287,"Army Triumphs at Last, Ending Navy’s 14-Game S...",BALTIMORE — Tradition at the game calls f...,0
32732,Senate race rankings: Dems attack as GOP lays ...,The move would make it easier for the Trump ad...,0
55399,Jailed Kremlin critic calls on Russians to pro...,MOSCOW (Reuters) - Kremlin critic Alexei Naval...,0
49476,U.S. hopes easing limits on Cuba will boost re...,WASHINGTON (Reuters) - The United States hopes...,0

In [6]:
df=final_data.dropna()

In [7]:
df.label.value_counts()

label
0    50084
1    49527
Name: count, dtype: int64

In [8]:
df.isna().sum()

title    0
text     0
label    0
dtype: int64

### Read the text Column

In [9]:
a=df['text']
a

0        No comment is expected from Barack Obama Membe...
2         Now, most of the demonstrators gathered last ...
4        The RS-28 Sarmat missile, dubbed Satan 2, will...
5        All we can say on this one is it s about time ...
6        DR. BEN CARSON TELLS THE STORY OF WHAT HAPPENE...
                               ...
38048    BAGHDAD/ERBIL, Iraq (Reuters) - Iraqi forces o...
28287    BALTIMORE  —   Tradition at the   game calls f...
32732    The move would make it easier for the Trump ad...
55399    MOSCOW (Reuters) - Kremlin critic Alexei Naval...
49476    WASHINGTON (Reuters) - The United States hopes...
Name: text, Length: 99611, dtype: object

## Text Preprocessing

### Tokenization, Remove Stop Words, Convert into lowercase

In [13]:
import nltk
nltk.download('punkt_tab')
nltk.download('wordnet')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/sunbeam/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package wordnet to /home/sunbeam/nltk_data...

True

In [14]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()
words_to_remove=[',','"',"'",':','\t','.','..','``',"''","(",")","?","@","!"]
all_words=[]
for word  in a :
    words=word_tokenize(word.lower())
    words1=[lemmatizer.lemmatize(i.strip()) for i in words if i.strip() not in words_to_remove]
    all_words.extend(words1)
all_words = list(set(all_words))
len(all_words)

365992